
@{
    ViewBag.Title = "AddResumes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-md-offset-2">
                <div class="page-ads box">
                    <div class="post-header">
                        <p>Already have an account? <a href="my-account.html">Click here to login</a></p>
                    </div>
                    <form class="form-ad">
                        <div class="divider"><h3>Basic information</h3></div>
                        <div class="form-group is-empty">
                            <label class="control-label" for="textarea">Name</label>
                            <input type="text" class="form-control" placeholder="Name">
                            <span class="material-input"></span><span class="material-input"></span>
                        </div>
                        <div class="form-group is-empty">
                            <label class="control-label" for="textarea"></label>
                            <label class="control-label" for="textarea">Email</label>
                            <input type="text" class="form-control" placeholder="Your@domain.com">
                            <span class="material-input"></span><span class="material-input"></span>
                        </div>
                        <div class="form-group is-empty">
                            <label class="control-label" for="textarea">Profession Title</label>
                            <input type="text" class="form-control" placeholder="Headline (e.g. Front-end developer)">
                            <span class="material-input"></span><span class="material-input"></span>
                        </div>
                        <div class="form-group is-empty">
                            <label class="control-label" for="textarea">Location</label>
                            <input type="text" class="form-control" placeholder="Location, e.g">
                            <span class="material-input"></span><span class="material-input"></span>
                        </div>
                        <div class="form-group is-empty">
                            <label class="control-label" for="textarea">Web</label>
                            <input type="text" class="form-control" placeholder="Website address">
                            <span class="material-input"></span><span class="material-input"></span>
                        </div>
                        <div class="form-group is-empty">
                            <label class="control-label" for="textarea">Pre Hour</label>
                            <input type="text" class="form-control" placeholder="Salary, e.g. 85">
                            <span class="material-input"></span><span class="material-input"></span>
                        </div>
                        <div class="form-group is-empty">
                            <label class="control-label" for="textarea">Age</label>
                            <input type="text" class="form-control" placeholder="Years old">
                            <span class="material-input"></span><span class="material-input"></span>
                        </div>
                        <div class="form-group">
                            <div class="button-group">
                                <div class="action-buttons">
                                    <div class="upload-button">
                                        <button class="btn btn-common">Choose a cover image</button>
                                        <input id="cover_img_file" type="file">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="divider"><h3>Education</h3></div>
                        <div class="form-group is-empty">
                            <label class="control-label" for="textarea">Degree</label>
                            <input type="text" class="form-control" placeholder="Degree, e.g. Bachelor">
                            <span class="material-input"></span><span class="material-input"></span>
                        </div>
                        <div class="form-group is-empty">
                            <label class="control-label" for="textarea">Field of Study</label>
                            <input type="text" class="form-control" placeholder="Major, e.g Computer Science">
                            <span class="material-input"></span><span class="material-input"></span>
                        </div>
                        <div class="form-group is-empty">
                            <label class="control-label" for="textarea">School</label>
                            <input type="text" class="form-control" placeholder="School name, e.g. Massachusetts Institute of Technology">
                            <span class="material-input"></span><span class="material-input"></span>
                        </div>
                        <div class="form-group is-empty">
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="control-label" for="textarea">From</label>
                                    <input type="text" class="form-control" placeholder="e.g 2014">
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label" for="textarea">To</label>
                                    <input type="text" class="form-control" placeholder="e.g 2018">
                                </div>
                            </div>
                            <span class="material-input"></span><span class="material-input"></span><span class="material-input"></span><span class="material-input"></span>
                        </div>
                        <div class="form-group is-empty">
                            <label class="control-label" for="textarea">Description</label>
                            <textarea class="form-control" rows="7"></textarea>
                            <span class="material-input"></span><span class="material-input"></span>
                        </div>
                        <div class="form-group">
                            <div class="button-group">
                                <div class="action-buttons">
                                    <div class="upload-button">
                                        <button class="btn btn-common">Choose a cover Logo</button>
                                        <input id="cover_img_file" type="file">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="add-post-btn">
                            <div class="pull-left">
                                <a href="#" class="btn-added"><i class="ti-plus"></i> Add New Education</a>
                            </div>
                            <div class="pull-right">
                                <a href="#" class="btn-delete"><i class="ti-trash"></i> Delete This</a>
                            </div>
                        </div>
                        <div class="divider"><h3>Work Experience</h3></div>
                        <div class="form-group is-empty">
                            <label class="control-label" for="textarea">Company Name</label>
                            <input type="text" class="form-control" placeholder="Company name">
                            <span class="material-input"></span><span class="material-input"></span>
                        </div>
                        <div class="form-group is-empty">
                            <label class="control-label" for="textarea">Title</label>
                            <input type="text" class="form-control" placeholder="e.g UI/UX Researcher">
                            <span class="material-input"></span><span class="material-input"></span>
                        </div>
                        <div class="form-group is-empty">
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="control-label" for="textarea">Date Form</label>
                                    <input type="text" class="form-control" placeholder="e.g 2014">
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label" for="textarea">Date To</label>
                                    <input type="text" class="form-control" placeholder="e.g 2018">
                                </div>
                            </div>
                            <span class="material-input"></span><span class="material-input"></span><span class="material-input"></span><span class="material-input"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="textarea">Description</label>
                        </div>
                        <section id="editor" class="fr-box fr-basic fr-top"><div class="fr-toolbar fr-desktop fr-top fr-basic fr-sticky fr-sticky-off" style="top: 0px;"><button id="strikeThrough-1" type="button" tabindex="-1" role="button" aria-pressed="false" title="Strikethrough (Ctrl+S)" class="fr-command fr-btn fr-btn-font_awesome fr-hidden" data-cmd="strikeThrough"><i class="fa fa-strikethrough" aria-hidden="true"></i><span class="fr-sr-only">Strikethrough</span></button><button id="subscript-1" type="button" tabindex="-1" role="button" aria-pressed="false" title="Subscript" class="fr-command fr-btn fr-btn-font_awesome fr-hidden" data-cmd="subscript"><i class="fa fa-subscript" aria-hidden="true"></i><span class="fr-sr-only">Subscript</span></button><button id="superscript-1" type="button" tabindex="-1" role="button" aria-pressed="false" title="Superscript" class="fr-command fr-btn fr-btn-font_awesome fr-hidden" data-cmd="superscript"><i class="fa fa-superscript" aria-hidden="true"></i><span class="fr-sr-only">Superscript</span></button><button id="selectAll-1" type="button" tabindex="-1" role="button" title="Select All" class="fr-command fr-btn fr-btn-font_awesome fr-hidden" data-cmd="selectAll"><i class="fa fa-mouse-pointer" aria-hidden="true"></i><span class="fr-sr-only">Select All</span></button><button id="fullscreen-1" type="button" tabindex="-1" role="button" aria-pressed="false" title="Fullscreen" class="fr-command fr-btn fr-btn-font_awesome" data-cmd="fullscreen"><i class="fa fa-expand" aria-hidden="true"></i><span class="fr-sr-only">Fullscreen</span></button><button id="bold-1" type="button" tabindex="-1" role="button" aria-pressed="false" title="Bold (Ctrl+B)" class="fr-command fr-btn fr-btn-font_awesome" data-cmd="bold"><i class="fa fa-bold" aria-hidden="true"></i><span class="fr-sr-only">Bold</span></button><button id="italic-1" type="button" tabindex="-1" role="button" aria-pressed="false" title="Italic (Ctrl+I)" class="fr-command fr-btn fr-btn-font_awesome" data-cmd="italic"><i class="fa fa-italic" aria-hidden="true"></i><span class="fr-sr-only">Italic</span></button><button id="underline-1" type="button" tabindex="-1" role="button" aria-pressed="false" title="Underline (Ctrl+U)" class="fr-command fr-btn fr-btn-font_awesome" data-cmd="underline"><i class="fa fa-underline" aria-hidden="true"></i><span class="fr-sr-only">Underline</span></button><button id="outdent-1" type="button" tabindex="-1" role="button" title="Decrease Indent (Ctrl+[)" class="fr-command fr-btn fr-btn-font_awesome" data-cmd="outdent"><i class="fa fa-outdent" aria-hidden="true"></i><span class="fr-sr-only">Decrease Indent</span></button><button id="indent-1" type="button" tabindex="-1" role="button" title="Increase Indent (Ctrl+])" class="fr-command fr-btn fr-btn-font_awesome" data-cmd="indent"><i class="fa fa-indent" aria-hidden="true"></i><span class="fr-sr-only">Increase Indent</span></button><button id="insertHR-1" type="button" tabindex="-1" role="button" title="Insert Horizontal Line" class="fr-command fr-btn fr-btn-font_awesome" data-cmd="insertHR"><i class="fa fa-minus" aria-hidden="true"></i><span class="fr-sr-only">Insert Horizontal Line</span></button><div class="fr-separator fr-hs" role="separator" aria-orientation="horizontal"></div><button id="undo-1" type="button" tabindex="-1" role="button" aria-disabled="true" title="Undo (Ctrl+Z)" class="fr-command fr-btn fr-btn-font_awesome fr-disabled" data-cmd="undo"><i class="fa fa-rotate-left" aria-hidden="true"></i><span class="fr-sr-only">Undo</span></button><button id="redo-1" type="button" tabindex="-1" role="button" aria-disabled="true" title="Redo (Ctrl+Shift+Z)" class="fr-command fr-btn fr-btn-font_awesome fr-disabled" data-cmd="redo"><i class="fa fa-rotate-right" aria-hidden="true"></i><span class="fr-sr-only">Redo</span></button><button id="clearFormatting-1" type="button" tabindex="-1" role="button" title="Clear Formatting" class="fr-command fr-btn fr-btn-font_awesome" data-cmd="clearFormatting"><i class="fa fa-eraser" aria-hidden="true"></i><span class="fr-sr-only">Clear Formatting</span></button></div><div class="fr-sticky-dummy" style="height: 82px;"></div><div class="fr-wrapper show-placeholder" dir="auto"><div class="fr-element fr-view" dir="auto" contenteditable="true" aria-disabled="false" spellcheck="true"><p><br></p></div><span class="fr-placeholder" style="font-size: 14px; line-height: 24px; margin-top: 0px; padding-top: 10px; padding-left: 10px; margin-left: 0px; padding-right: 10px; margin-right: 0px; text-align: start;">Type something</span></div></section>
                        <div class="form-group">
                            <div class="button-group">
                                <div class="action-buttons">
                                    <div class="upload-button">
                                        <button class="btn btn-common">Choose a cover Logo</button>
                                        <input id="cover_img_file" type="file">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="add-post-btn">
                            <div class="pull-left">
                                <a href="#" class="btn-added"><i class="ti-plus"></i> Add New Experience</a>
                            </div>
                            <div class="pull-right">
                                <a href="#" class="btn-delete"><i class="ti-trash"></i> Delete This</a>
                            </div>
                        </div>
                        <div class="divider"><h3>Skills</h3></div>
                        <div class="form-group is-empty">
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="control-label" for="textarea">Skill Name</label>
                                    <input class="form-control" placeholder="Skill name, e.g. HTML" type="text">
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label" for="textarea">% (1-100)</label>
                                    <input class="form-control" placeholder="Skill proficiency, e.g. 90" type="text">
                                </div>
                            </div>
                            <span class="material-input"></span><span class="material-input"></span><span class="material-input"></span><span class="material-input"></span>
                        </div>
                        <div class="add-post-btn">
                            <div class="pull-left">
                                <a href="#" class="btn-added"><i class="ti-plus"></i> Add New Skills</a>
                            </div>
                            <div class="pull-right">
                                <a href="#" class="btn-delete"><i class="ti-trash"></i> Delete This</a>
                            </div>
                        </div>
                    </form>
                    <a href="resume.html" class="btn btn-common">Save</a>
                </div>
            </div>
        </div>
    </div>
</section>

