
@{
    ViewBag.Title = "ViewList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card-body">
    <table class="table">
        <thead >
            <tr>
                <th scope="col" style="color:blue">ID</th>
                <th scope="col" style="color:blue">FullName</th>
                <th scope="col" style="color:blue">DateOfBirth</th>
                <th scope="col" style="color:blue">Phone</th>
                <th scope="col" style="color:blue">Email</th>
                <th scope="col" style="color:blue">Position</th>
                <th scope="col" style="color:blue">DateRecruiment</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="col">1</th>
                <th scope="col">Nguyen Van Nam</th>
                <th scope="col">7/7/1997</th>
                <th scope="col">5884545952656</th>
                <th scope="col">nam@gmail.com</th>
                <th scope="col">Dev</th>
                <th scope="col">1/1/2018</th>
            </tr>
            <tr>
                <th scope="col">2</th>
                <th scope="col">Nguyen Thi Nu</th>
                <th scope="col">7/7/1997</th>
                <th scope="col">5884545952656</th>
                <th scope="col">nu@gmail.com</th>
                <th scope="col">Dev</th>
                <th scope="col">1/12/2018</th>
            </tr>
            <tr>
                <th scope="col">3</th>
                <th scope="col">Nguyen Thi Nu</th>
                <th scope="col">7/7/1997</th>
                <th scope="col">5884545952656</th>
                <th scope="col">nu@gmail.com</th>
                <th scope="col">Dev</th>
                <th scope="col">1/12/2018</th>
            </tr>
        </tbody>
    </table>
</div>