
@{
    ViewBag.Title = "LogIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="content" class="my-account">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-6 cd-user-modal">
                <div class="my-account-form">
                    <ul class="cd-switcher">
                        <li><a class="selected">LOGIN</a></li>
                    </ul>
                    <div id="cd-login" class="is-selected">
                        <div class="page-login-form">
                            <form action="ViewList" method="post" role="form" class="login-form">
                                <div class="form-group is-empty">
                                    <div class="input-icon">
                                        <i class="ti-user"></i>
                                        <input type="text" id="username" class="form-control" name="email" placeholder="Username">
                                    </div>
                                    <span class="material-input"></span><span class="material-input"></span><span class="material-input"></span>
                                </div>
                                <div class="form-group is-empty">
                                    <div class="input-icon">
                                        <i class="ti-lock"></i>
                                        <input type="password" class="form-control" placeholder="Password">
                                    </div>
                                    <span class="material-input"></span><span class="material-input"></span><span class="material-input"></span>
                                </div>
                                <a href="Home/ViewList"><button id="btnLogin" class="btn btn-common log-btn">Login</button> </a>

                            </form>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>

