
@{
    ViewBag.Title = "LogIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="content" class="my-account">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-6 cd-user-modal">
                <div class="my-account-form">
                    <ul class="cd-switcher">
                        <li><a class="selected">LOGIN</a></li>
                    </ul>
                    <div class="alert alert-danger" id="danger" style="display: none;">
                        <strong>Lỗi!</strong> <span id="name_err"></span>
                    </div>
                    <div id="cd-login" class="is-selected">
                        <div class="page-login-form">
                            <div class="form-group is-empty">
                                <div class="input-icon">
                                    <i class="ti-user"></i>
                                    <input type="text" id="username" class="form-control" name="email" placeholder="Username">
                                </div>
                                <span class="material-input"></span><span class="material-input"></span><span class="material-input"></span>
                            </div>
                            <div class="form-group is-empty">
                                <div class="input-icon">
                                    <i class="ti-lock"></i>
                                    <input type="password" id="pass" class="form-control" placeholder="Password">
                                </div>
                                <span class="material-input"></span><span class="material-input"></span><span class="material-input"></span>
                            </div>
                            <button id="btnLogin" class="btn btn-common log-btn">Login</button>

                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $btn = $('button#btnLogin'),
        $user = $('input#username'),
        $danger = $('div#danger'),
        $name_err = $('span#name_err'),
        $pass = $('input#pass');
        $btn.click(function () {
            var infoAcc = {
                username: $user.val(),
                pass: $pass.val()
            }
            $.ajax({
                url: 'http://localhost:25898/Check/CheckAccount',
                method: "Post",
                dataType: "json",
                data: infoAcc,
                success: function (data) {
                    if (data.accept === true) {
                        window.location.href = 'ViewList';
                    } else {
                        $danger.css('display', 'block');
                        $name_err.html(data.msg);
                        $user.val("");
                        $pass.val("");
                    }
                },
                error: function () {
                    alert("Thât bại");
                }
            });

        });
    });
</script>

