
@{
    ViewBag.Title = "ViewListEmployers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-center"> Manage Employers</h2>
<div class="container">
    <h4>Chọn Sever</h4>
    <select class="form-control" name="Product_Type" required>
        <option label="Chọn Sever" disabled hidden selected></option>
        <option value="http://localhost:25889/api/humanresource">Entity</option>
        <option value="http://localhost:25898/api/humanresource">Nhibernate</option>
    </select>
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg">
                        <div class="table-responsive table--no-card m-b-30">
                            <table class="table table-borderless table-striped table-earning">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Full Name</th>
                                        <th>Date Of Birth</th>
                                        <th>Gender</th>
                                        <th class="text-right">Position</th>
                                        <th>ID card</th>
                                        <th class="text-right">Address</th>
                                        <th class="text-right">Phone number</th>
                                        <th class="text-right">Email</th>
                                        <th class="text-right">Work at branch</th>
                                    </tr>
                                </thead>
                                <tbody id="tbody"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var $tbody = $('tbody#tbody'),
            $type = $('select[name=Product_Type]'),url;
        function resource(data) {
            var human = `<tr>
                        <td>${data.ID}</td>
                        <td>${data.FullName}</td>
                        <td>${data.DayofBirth}</td>
                        <td>${data.Gender}</td>
                        <td class ="text-right">${data.Position}</td>
                        <td class ="text-right">${data.IDCard}</td>
                        <td class ="text-right">${data.Address}</td>
                        <td class ="text-right">${data.PhoneNumber}</td>
                        <td class ="text-right">${data.Email}</td>
                        <td class ="text-right">${data.WorkatBranch}</td>
                    </tr>`;
            return human;
        }

        $type.change(function () {
            url = $(this).val();
            $.ajax({
                url: url,
                method: 'Get',
                dataType: 'json',
                success: function (data) {
                    $tbody.html("");
                    for (var ie in data) {
                        $tbody.append(resource(data[ie]));
                    }
                },
                err: function (e) {
                    alert('No Valid');
                }
            });
        });
    });
</script>


