
@{
    ViewBag.Title = "ViewList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2 class="text-center"> Manage Applicator</h2>
<div class="container">
    <h4>Chọn Sever</h4>
    <select class="form-control" name="Product_Type" required>
        <option label="Chọn Sever" disabled hidden selected></option>
        <option value="http://localhost:25888/api/recruiment">Entity</option>
        <option value="http://localhost:25897/api/recruiment">Nhibernate</option>
    </select>

    <br />
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg">
                        <div class="table-responsive table--no-card m-b-30">
                            <table class="table table-borderless table-hover table-bordered table-earning">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Full Name</th>
                                        <th>Date Of Birth</th>
                                        <th>Phone number</th>
                                        <th>Email</th>
                                        <th>Position</th>
                                        <th>Address</th>
                                        <th>FileAttach</th>
                                    </tr>
                                </thead>
                                <tbody id="tbody"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var $tbody = $('tbody#tbody'),
            $type = $('select[name=Product_Type]'),url;
        function resource(data) {
            var human = `<tr>
                        <td>${data.ID}</td>
                        <td>${data.FullName}</td>
                        <td>${data.DayofBirth}</td>
                        <td>${data.PhoneNumber}</td>
                        <td>${data.Email}</td>
                        <td>${data.ApplyPosition}</td>
                        <td>${data.DateofApplication}</td>
                        <td>${data.FileAttach}</td>
                    </tr>`;
            return human;
        }

        $type.change(function () {
            url = $(this).val();
            $.ajax({
                url: url,
                method: 'Get',
                dataType: 'json',
                success: function (data) {
                    $tbody.html("");
                    for (var ie in data) {
                        $tbody.append(resource(data[ie]));
                    }
                },
                err: function (e) {
                    alert('No Valid');
                }
            });
        });
    });
</script>




