
@{
    ViewBag.Title = "ViewList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <ul class="nav navbar-nav">
        <li class="drop">
            <a class="active" href="/Home/ViewList" style="color:red">
                <strong> Manage Applicator </strong> <i class="fa fa-angle-down"></i>
            </a>
        </li>
        <li class="drop">
            <a class="active" href="/Home/ViewListEmployers" style="color:red">
                <strong> Manage Employers</strong>  <i class="fa fa-angle-down"></i>
            </a>

        </li>
    </ul>

</div>
<br />
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-9">
                    <div class="table-responsive table--no-card m-b-30">
                        <table class="table table-borderless table-striped table-earning">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Full Name</th>
                                    <th>Date Of Birth</th>
                                    <th>Gender</th>
                                    <th class="text-right">Position</th>
                                    <th>ID card</th>
                                    <th class="text-right">Address</th>
                                    <th class="text-right">Phone number</th>
                                    <th class="text-right">Email</th>
                                    <th class="text-right">Work at branch</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>1</th>
                                    <th>Nguyen Van Quan</th>
                                    <th>3/3/1997</th>
                                    <th>Female</th>
                                    <th class="text-right">Tester</th>
                                    <th>65741248</th>
                                    <th class="text-right">Tran Hung Dao</th>
                                    <th class="text-right">0655998619</th>
                                    <th class="text-right">quanvan@gmail.com</th>
                                    <th class="text-right">ABC</th>
                                </tr>
                                <tr>
                                    <th>1</th>
                                    <th>Nguyen Van Quan</th>
                                    <th>3/3/1997</th>
                                    <th>Female</th>
                                    <th class="text-right">Tester</th>
                                    <th>65741248</th>
                                    <th class="text-right">Tran Hung Dao</th>
                                    <th class="text-right">0655998619</th>
                                    <th class="text-right">quanvan@gmail.com</th>
                                    <th class="text-right">ABC</th>
                                </tr>
                                <tr>
                                    <th>1</th>
                                    <th>Nguyen Van Quan</th>
                                    <th>3/3/1997</th>
                                    <th>Female</th>
                                    <th class="text-right">Tester</th>
                                    <th>65741248</th>
                                    <th class="text-right">Tran Hung Dao</th>
                                    <th class="text-right">0655998619</th>
                                    <th class="text-right">quanvan@gmail.com</th>
                                    <th class="text-right">ABC</th>
                                </tr>
                                <tr>
                                    <th>1</th>
                                    <th>Nguyen Van Quan</th>
                                    <th>3/3/1997</th>
                                    <th>Female</th>
                                    <th class="text-right">Tester</th>
                                    <th>65741248</th>
                                    <th class="text-right">Tran Hung Dao</th>
                                    <th class="text-right">0655998619</th>
                                    <th class="text-right">quanvan@gmail.com</th>
                                    <th class="text-right">ABC</th>
                                </tr>
                                <tr>
                                    <th>1</th>
                                    <th>Nguyen Van Quan</th>
                                    <th>3/3/1997</th>
                                    <th>Female</th>
                                    <th class="text-right">Tester</th>
                                    <th>65741248</th>
                                    <th class="text-right">Tran Hung Dao</th>
                                    <th class="text-right">0655998619</th>
                                    <th class="text-right">quanvan@gmail.com</th>
                                    <th class="text-right">ABC</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

